.sec-2 .wrapper{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
}

.sec-2 .wrapper div{
    width: 25%;
    color: #fff;
    padding: 4rem 0;
    padding-left: 2rem;
}
.sec-2 .wrapper div h1{
    font-size: 1.9rem;
}

.sec-2 .d1, .sec-2 .d3{
    background-color: #717171;
}
.sec-2 .d2, .sec-2 .d4{
    background-color: #bcbcbc;
}

.sec-2 div button{
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
}

.sec-2 div button:hover{
    cursor: pointer;
    background-color: #ccc;
}

.sec-2 .d1 button, .sec-2 .d3 button{
    background-color: #aaa;
}
.sec-2 .d2 button, .sec-2 .d4 button{
    background-color: #5E5E5E;
}